#explore-page{
  background-color: #FAFAFA;
  overflow:auto;
  height: calc(100vh - 64px);
}
#explore-left-panel{
  max-width: 1080px;
  padding: 32px 8px 8px 8px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse
}
#project-list{
  width: 100%;
  margin-left: auto;
  margin-right:auto;
  max-width: 700px;
}
.explore-own-projects h1{
  margin: 0;
}
.explore-own-projects{
  margin: 0 8px 16px 8px;
}
.explore-public-projects{
  margin:32px 0 16px 0;
}
.explore-public-projects h1 {
  margin: 0;
  padding: 8px;
}
#explore-search-projects{
  margin-bottom:auto;
  margin-top: auto;
  padding: 8px 8px 8px 0;
  width: 200px;
}
#explore-create-project-button{
  background-color: #FF8324;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#explore-recent{
  width: 300px;
  margin-top: 20px;
}
#explore-recent paper-material {
  background-color: #ffffff;
  padding: 8px;
  margin-bottom: 16px;
}
#explore-page req-baz-project {
  margin: 8px;
  background-color: white;
}
#explore-create-project-container{
  position: fixed;
  bottom: 0;
  right: 64px;
  width: 500px;
  margin-left: 16px;
  margin-right: 16px;
  background-color: white;
  padding: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
