
pre{
  font-family: sans-serif;
  margin: 0;
  display: block;
  opacity: 0.87;
}

/* Header that is used throughout the whole site*/
#header {
  background-color: #669900;
  color: white;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.3);
  height: 65px;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 1;
  justify-content: space-between;
}
#header-title{
  padding-left: 16px;
  margin: auto 0 auto 0;
}
#header-right-container{
  display: flex;
  flex-direction: row-reverse;
}
#signin-button{
  background-color: #FF8324;
  color: white;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
  white-space: nowrap;
  float: right;
  margin: auto 8px auto 8px;
}
#header-explore{
  color: white;
  float: right;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px;
  margin: auto 8px auto 8px;
}

/*
  The drawer panel used in the main and project management page
*/
paper-drawer-panel{
  background-color: #FAFAFA;
}
.drawer-sidebar{
  padding-top: 70px;
  border-right: 1px solid #e0e0e0;
  overflow: auto;
}
.drawer-main{
  margin-top: 64px;
  overflow: auto;
  height: calc(100vh - 64px);
}
