
#deleteSomething{
  position: fixed;
  z-index: 12;
  top: 0;
  left: 8px;
  right: 8px;
  margin:32px;
  background: white;
}

body {
  font-family: sans-serif;
  background-color: #ececec;
}

#componentSelection {
  background-color: #fff;
  margin: 0;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

#componentSelection paper-item:hover{
  background-color: #ececec;
}

.content {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#currentComponent {
  background: white;
  margin-bottom: 12px;
  padding: 12px;
}

.collapse-content {
  padding: 15px;
  border: 1px solid #dedede;
  background-color: white;
}

#profileDiv, #NotificationDiv{
  background: #fff;
  color:black;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  position: absolute;
  right: 20px;
  top: 68px;
  width: 300px;
  z-index:100;
}
#profileDivFooter{
  background: #f5f5f5;
  border-top: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  padding: 10px 0;
  width: 100%;
  display: table;
}

#profileDivFooter paper-button{
  /*background-color: #669900;*/
  color: white;
}

#addRequirementFab{
  color: white;
  cursor: pointer;
  z-index: 1;
  position: fixed;
  right: 40px;
  bottom: 30px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #db4437;
}
#addRequirementDiv{
  width: 400px;
  right: 130px;
  position: fixed;
  background-color: white;
  z-index: 2;
  bottom: 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

/*

CSS rules that apply to all core-elements

*/

core-header-panel {
  position: inherit;
}

core-toolbar {
  background-color: #669900;
  color: white;
}

/*

CSS rules that apply to all paper elements

*/

paper-dropdown-menu{
  border-bottom: none;
  color:#000000;
}

paper-dropdown-menu paper-item:hover{
  background-color: #ececec;
}

paper-icon-button /deep/ core-icon[role=img] {
  height: 35px;
  width: 35px;
}

paper-dropdown-menu::shadow #label, paper-dropdown-menu::shadow #arrow{
  color: white;
}

paper-button {
  margin: 10px;
  background-color: #669900;
}








/*

  GRID CSS

  http://www.responsivegridsystem.com/ - Graham Miller

  Offered under
  http://creativecommons.org/licenses/by/3.0/
*/


/*  SECTIONS  ============================================================================= */

.section {
  clear: both;
  padding: 0;
  margin: 0;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
  display: block;
  float:left;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col {

  }
}



/*  GRID OF EIGHT   ============================================================================= */


.span_8_of_8 {
  width: 100%;
}

.span_7_of_8 {
  width: 87.3%;
}

.span_6_of_8 {
  width: 74.6%;
}

.span_5_of_8 {
  width: 61.9%;
}

.span_4_of_8 {
  width: 49.2%;
}

.span_3_of_8 {
  width: 36.5%;
}

.span_2_of_8 {
  width: 23.8%;
}

.span_1_of_8 {
  width: 11.1%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .span_8_of_8 {
    width: 100%;
  }
  .span_7_of_8 {
    width: 100%;
  }
  .span_6_of_8 {
    width: 100%;
  }
  .span_5_of_8 {
    width: 100%;
  }
  .span_4_of_8 {
    width: 100%;
  }
  .span_3_of_8 {
    width: 100%;
  }
  .span_2_of_8 {
    width: 100%;
  }
  .span_1_of_8 {
    width: 100%;
  }
}
