
body {
  font-family: sans-serif;
  background-color: #ececec;
}

#componentSelection {
  background-color: #fff;
  margin: 0;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

#componentSelection paper-item:hover{
  background-color: #ececec;
}

.content {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#currentComponent {
  background: white;
  margin-bottom: 12px;
  padding: 12px;
}

.collapse-content {
  padding: 15px;
  border: 1px solid #dedede;
}

#profileDiv, #NotificationDiv{
  background: #fff;
  color:black;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  position: absolute;
  right: 20px;
  top: 68px;
  width: 300px;
  z-index:100;
}
#profileDivFooter{
  background: #f5f5f5;
  border-top: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  padding: 10px 0;
  width: 100%;
  display: table;
}

/*

CSS rules that apply to all core-elements

*/

core-header-panel {
  position: inherit;
}

core-toolbar {
  background-color: #4285f4;
  color: white;
}

/*

CSS rules that apply to all paper elements

*/

paper-dropdown-menu{
  border-bottom: none;
  color:#000000;
}

paper-dropdown-menu paper-item:hover{
  background-color: #ececec;
}

paper-icon-button /deep/ core-icon[role=img] {
  height: 35px;
  width: 35px;
}
