/*
  Main content
*/
#inf-scroll {
  overflow: auto;
  height: 92vh;
}
#load-requirements {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.content {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
#current-component {
  background-color: white;
  margin: auto;
  width: 100%;
  max-width: 1000px;
}
#show-realized{
  margin: 48px 0 8px 0;
}
#show-realized span{
  margin: auto;
  width: 100%;
  padding-right: 8px;
}
#comp-lead-container {
  display: flex;
  margin-bottom: 8px;
}
#comp-lead-container p{
  width: 100%;
}

.requirement-header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
.contributors div {
  min-width: 200px;
}
.requirement-header-title {
  font-size: large;
  padding: 16px;
  overflow: auto;
  cursor: pointer;
  flex-grow: 1;
}
.req-title {
  min-width: 100px;
  font-weight: bold;
  margin: 0;
}
.vote-button-container {
  display: flex;
  padding-right: 8px;
}
.req-collapse-hidden {
  max-height: 0;
  overflow: hidden;
}
.req-collapse-show {
  padding: 12px;
  max-height: 3000px;
  -webkit-transition:max-height cubic-bezier(0.49,0.12,0.49,0.83);
  transition:max-height cubic-bezier(0.49,0.12,0.49,0.83);
  transition-duration: 0.5s;
  transition-delay: 0s;
  overflow: hidden;
}
.attachment-image {
  width: 100px;
}
.attachment-container {
  display:flex;
}
.save-req-container {
  margin-bottom: 10px;
}
.contributors p {
  font-weight: bold;
}
.comment-container {
  border-bottom: 1px solid #dedede;
  margin-bottom: 8px;
  display: flex;
}
.comment-container img {
  border-radius: 50%;
  margin-right: 8px;
  flex: 0 0 auto;
}
#main-contributors-container{
  max-width: 50%;
  margin: 8px;
  flex: 0 0 auto;
  min-width: 200px;
}

#main-project-settings h4{
  text-align: center;
  padding: 0 8px 0 8px;
}

#main-project-settings iron-icon{
  padding: 8px;
  margin: auto;
  cursor: pointer;
  min-width: 24px;
}
.main-component-list{
  padding: 8px;
}

.main-comment-author p {
  flex-grow: 1;
}
.main-comment-author span{
  margin-bottom: 8px;
  margin-top: auto;
  cursor: pointer;
}

/*
  pop up panels
*/
/*See if this can be improved*/
.create-container{
  z-index: 2;
  right: 130px;
  bottom: 0;
  position: fixed;
  width: 300px;
  padding: 8px;
  background-color: white;
  box-shadow: 0 2px 15px rgba(0,0,0,.3);
  border: 1px solid #ccc;
}
#addRequirementFab{
  position: fixed;
  right: 40px;
  bottom: 30px;
  z-index: 2;
  background-color: #f44336;
}
.requirementDesc{
  min-height: 30px;
  width: 100%;
}
