<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/icon-transition/icon-transition.html">

<polymer-element name="z-toggleicon" attributes="from to toggle">
    <template>
        <icon-transition id="menuCtrl" shape="menu"></icon-transition>
    </template>
    <script>
        Polymer('z-toggleicon', {
            toggle: false,
            attached: function() {
                this.$.menuCtrl.shape = this.from;
            },
            toggleChanged: function(oldValue, newValue) {
                this.$.menuCtrl.shape = newValue ? this.to : this.from;
            }
        });
    </script>
</polymer-element>
