/* General */
$bodyBgColor: #edf0f5;
$focusShadowColor: #8dcdff;
$fontSize: 14px;
$maskBgColor: #424242;
$textColor: #333333;
$transitionDuration: .2s;

/* Topbar */
$topbarLeftBgColor: #447500;
$topbarRightBgColor: #549100; // 6fbe00
$topbarItemBadgeBgColor: #ef6262;
$topbarItemBadgeColor: #ffffff;
$topbarItemColor: #ffffff;
$topbarItemHoverColor: #c3e8fb;
$topbarSearchInputBorderBottomColor: #ffffff;
$topbarSearchInputColor: #ffffff;
