<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="openidconnect-signin-aware.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../font-roboto/roboto.html">
<link rel="import" href="../paper-ripple/paper-ripple.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="auth-icons.html">

<dom-module id="openidconnect-signin">
  <link rel="import" type="css" href="openidconnect-signin.css">
  <template>
    <openidconnect-signin-aware id="aware"
      app-package-name="{{appPackageName}}"
      server="{{server}}"
      client-id="{{clientId}}"
      cookie-policy="{{cookiePolicy}}"
      request-visible-actions="{{requestVisibleActions}}"
      offline="{{offline}}"
      offline-always-prompt="{{offlineAlwaysPrompt}}"
      scopes="{{scopes}}"
      signed-in="{{signedIn}}"
      is-authorized="{{isAuthorized}}"
      need-additional-auth="{{needAdditionalAuth}}"></openidconnect-signin-aware>
    <template is="dom-if" if="{{raised}}">
      <paper-material id="shadow" class="fit" elevation="2" animated></paper-material>
    </template>
    <div id="button"
      class$="[[_computeButtonClass(height, width, theme, signedIn, needAdditionalAuth)]]">

      <paper-ripple id="ripple" class="fit"></paper-ripple>
      <!-- this div is needed to position the ripple behind text content -->
      <div relative layout horizontal center-center>
        <template is="dom-if" if="{{_computeButtonIsSignIn(signedIn, needAdditionalAuth)}}">
          <div class="button-content signIn" tabindex="0"
              on-click="signIn" on-keydown="_signInKeyPress">
            <span class="icon"><iron-icon icon="[[_icon]]"></iron-icon></span>
            <span class="buttonText">{{_labelSignin}}</span>
          </div>
        </template>
        <template is="dom-if" if="{{_computeButtonIsSignOut(signedIn, needAdditionalAuth) }}">
          <div class="button-content signOut" tabindex="0"
              on-click="signOut" on-keydown="_signOutKeyPress">
            <span class="icon"><iron-icon icon="[[_icon]]"></iron-icon></span>
            <span class="buttonText">{{labelSignout}}</span>
          </div>
        </template>
        <template is="dom-if" if="{{_computeButtonIsSignOutAddl(signedIn, needAdditionalAuth) }}">
          <div class="button-content signIn" tabindex="0"
              on-click="signIn" on-keydown="_signInKeyPress">
            <span class="icon"><iron-icon icon="[[_icon]]"></iron-icon></span>
            <span class="buttonText">{{labelAdditional}}</span>
          </div>
        </template>
      </div>

    </div>
  </template>
</dom-module>
<script>
  (function() {

    /**
     * Enum icon values.
     * @readonly
     * @enum {string}
     */
    var IconValue = {
      LOGIN: 'auth:signin',
      LOGOUT: 'auth:signout'
    };

    /**
     * Enum height values.
     * @readonly
     * @enum {string}
     */
    var HeightValue = {
      SHORT: 'short',
      STANDARD: 'standard',
      TALL: 'tall'
    };

    /**
     * Enum button label default values.
     * @readonly
     * @enum {string}
     */
    var LabelValue = {
      STANDARD: 'Sign in',
      WIDE: 'Sign in with OpenID Connect'
    };

    /**
     * Enum theme values.
     * @readonly
     * @enum {string}
     */
    var ThemeValue = {
      LIGHT: 'light',
      DARK: 'dark'
    };

    /**
     * Enum width values.
     * @readonly
     * @enum {string}
     */
    var WidthValue = {
      ICON_ONLY: 'iconOnly',
      STANDARD: 'standard',
      WIDE: 'wide'
    };

/**
&lt;openidconnect-signin&gt; is used to authenticate with an OpenID Connect provider, allowing you to interact
with OAuth2 APIs.

<img style="max-width:100%;" src="https://cloud.githubusercontent.com/assets/107076/6791176/5c868822-d16a-11e4-918c-ec9b84a2db45.png"/>

If you do not need to show the button, use companion `<openidconnect-signin-aware>` element to declare scopes, check authentication state.

#### Examples

    <openidconnect-signin client-id="..." scopes="openid profile"></openidconnect-signin>

    <openidconnect-signin label-signin="Sign-in" client-id="..." scopes="openid profile"></openidconnect-signin>

    <openidconnect-signin theme="dark" width="iconOnly" client-id="..." scopes="openid profile"></openidconnect-signin>


#### Notes

The attribute `clientId` is provided OpenID Connect provider.

The `scopes` attribute allows you to specify which scope permissions are required
(e.g do you want to allow retrieving the email address).

The `offline` attribute allows you to get an auth code which your server can
redeem for an offline access token
(https://developers.google.com/identity/sign-in/web/server-side-flow).
You can also set `offline-always-prompt` instead of `offline` to ensure that your app
will re-prompt the user for offline access and generate a working `refresh_token`
even if they have already granted offline access to your app in the past.

Use label properties to customize prompts.

The button can be styled in using the `height`, `width`, and `theme` attributes.

The `openidconnect-signin-success` event is triggered when a user successfully authenticates
and `openidconnect-signed-out` is triggered when user signs out.
You can also use `isAuthorized` attribute to observe user's authentication state.

Additional events, such as `openidconnect-signout-attempted` are
triggered when the user attempts to sign-out and successfully signs out.

When requesting offline access, the `openidconnect-signin-offline-success` event is
triggered when the user successfully consents with offline support.

The `openidconnect-signin-necessary` event is fired when scopes requested via
openidconnect-signin-aware elements require additional user permissions.

#### Testing

By default, the demo accompanying this element is setup to work on localhost with
port 8080. That said, you *should* update the `clientId` to your own one for
any apps you're building.

@demo
*/

    Polymer({

      is: 'openidconnect-signin',

    /**
     * Fired when user is signed in.
     * @event openidconnect-signin-success
     */

    /**
     * Fired when the user is signed-out.
     * @event openidconnect-signed-out
     */

    /**
     * Fired if user requires additional authorization
     * @event openidconnect-signin-necessary
     */

    /**
     * Fired when signed in, and scope has been authorized
     * @param {Object} result Authorization result.
     * @event openidconnect-signin-aware-success
     */

    /**
     * Fired when an offline authorization is successful.
     * @event openidconnect-signin-offline-success
     * @param {Object} detail
     * @param {string} detail.code The one-time authorization code from your OpenID Connect provider.
     *     Your application can exchange this for an `access_token` and `refresh_token`
     */

    /**
     * Fired when this scope is not authorized
     * @event openidconnect-signin-aware-signed-out
     */
      properties: {

        /**
         * The OpenID Connect server URL.
         */
        server: {
            type: String
        },

        /**
         * an OpenID Connect provider clientId reference
         */
        clientId: {
          type: String,
          value: ''
        },

        /**
         * The cookie policy defines what URIs have access to the session cookie
         * remembering the user's sign-in state.
         * See the relevant [docs](https://developers.google.com/+/web/signin/reference#determining_a_value_for_cookie_policy) for more information.
         *
         * @default 'single_host_origin'
         */
        cookiePolicy: {
          type: String,
          value: ''
        },

        /**
         * The height to use for the button.
         *
         * Available options: short, standard, tall.
         *
         * @type {HeightValue}
         */
        height: {
          type: String,
          value: 'standard'
        },

        /**
         * By default the ripple expands to fill the button. Set this to true to
         * constrain the ripple to a circle within the button.
         */
        fill: {
          type: Boolean,
          value: true
        },

        /**
         * An optional label for the button for additional permissions.
         */
        labelAdditional: {
          type: String,
          value: 'Additional permissions required'
        },

        /**
         * An optional label for the sign-in button.
         */
        labelSignin: {
          type: String,
          value: ''
        },

        _labelSignin: {
          type: String,
          computed: '_computeSigninLabel(labelSignin, width)'
        },

        /**
         * An optional label for the sign-out button.
         */
        labelSignout: {
          type: String,
          value: 'Sign out'
        },

        /**
         * If true, the button will be styled with a shadow.
         */
        raised: {
          type: Boolean,
          value: false
        },

        /**
         * The app activity types you want to write on behalf of the user
         * (e.g http://schemas.google.com/AddActivity)
         */
        requestVisibleActions: {
          type: String,
          value: ''
        },

        /**
         * Allows for offline `access_token` retrieval during the signin process.
         */
        offline: {
          type: Boolean,
          value: false
        },

        /**
         * Forces a re-prompt, even if the user has already granted offline
         * access to your application in the past. You only need one of
         * `offline` and `offlineAlwaysPrompt`.
         */
        offlineAlwaysPrompt: {
          type: Boolean,
          value: false
        },

        /**
         * The scopes to provide access to (e.g profile)
         * and should be space-delimited.
         */
        scopes: {
          type: String,
          value: ''
        },

        /**
         * The theme to use for the button.
         *
         * Available options: light, dark.
         *
         * @attribute theme
         * @type {ThemeValue}
         * @default 'dark'
         */
        theme: {
          type: String,
          value: 'light'
        },

        /**
         * The width to use for the button.
         *
         * Available options: iconOnly, standard, wide.
         *
         * @type {WidthValue}
         */
        width: {
          type: String,
          value: 'standard'
        },

        _icon: {
          type: String,
          computed: '_computeIcon(signedIn)'
        },

        /**
         * True if additional authorization required globally
         */
        needAdditionalAuth: {
          type: Boolean,
          value: false
        },

        /**
         * Is user signed in?
         */
        signedIn: {
          type: Boolean,
          notify: true,
          value: false,
          observer: '_observeSignedIn'
        },

        /**
         * True if authorizations for *this* element have been granted
         */
        isAuthorized: {
          type: Boolean,
          notify: true,
          value: false
        }

      },

      _computeButtonClass: function(height, width, theme, signedIn, needAdditionalAuth) {
        return "height-" + height + " width-" + width + " theme-" + theme + " signedIn-" + signedIn + " additionalAuth-" + needAdditionalAuth;
      },

      _computeIcon: function(signedIn) {
        return signedIn ? IconValue.LOGOUT : IconValue.LOGIN;
      },

      /* Button state computed */
      _computeButtonIsSignIn: function(signedIn, additionalAuth) {
        return !signedIn;
      },

      _computeButtonIsSignOut: function(signedIn, additionalAuth) {
        return signedIn && !additionalAuth;
      },

      _computeButtonIsSignOutAddl: function(signedIn, additionalAuth) {
        return signedIn && additionalAuth;
      },

      _observeSignedIn: function(newVal, oldVal) {
          //console.log('observed signedIn: ' + newVal);
        if (newVal) {
          if (this.needAdditionalAuth)
            this.fire('openidconnect-signin-necessary');
          this.fire('openidconnect-signin-success');
        }
        else
          this.fire('openidconnect-signed-out');
      },

      /**
       * Determines the proper label based on the attributes.
       */
      _computeSigninLabel: function(labelSignin, width) {
        if (labelSignin) {
          return labelSignin;
        } else {
          switch(width) {

            case WidthValue.WIDE:
              return LabelValue.WIDE;

            case WidthValue.STANDARD:
              return LabelValue.STANDARD;

            case WidthValue.ICON_ONLY:
              return '';

            default:
              console.warn("bad width value: ", width);
              return LabelValue.STANDARD;
          }
        }
      },

      /** Sign in user. Opens the authorization dialog for signing in.
       * The dialog will be blocked by a popup blocker unless called inside click handler.
       */
      signIn: function () {
        this.$.aware.signIn();
      },

      _signInKeyPress: function (e) {
        if (e.which == 13 || e.keyCode == 13 || e.which == 32 || e.keyCode == 32) {
          e.preventDefault();
          this.signIn();
        }
      },

      /** Sign out the user */
      signOut: function () {
        this.fire('openidconnect-signout-attempted');
        this.$.aware.signOut();
      },

      _signOutKeyPress: function (e) {
        if (e.which == 13 || e.keyCode == 13 || e.which == 32 || e.keyCode == 32) {
          e.preventDefault();
          this.signOut();
        }
      }
    });
  }());
</script>
