<h3 style="color: red">{{status}}</h3>
<div><h2>Projects</h2>
<ul>
  <li ng-repeat="project in projects">
    <a ng-click="selectProj(project.id)">[{{project.id}}] {{project.name}}</a>
  </li>
  <li ng-if="results.length == 0">
    <strong>No results found...</strong>
  </li>
</ul>
</div>
<hr/>
<div>
  <h2>Components for Proj#{{sel_projectId}}</h2>
  <ul>
    <li ng-repeat="component in components">
      <a ng-click="selectComp(component.id)">[{{component.id}}] {{component.name}}</a>
    </li>
    <li ng-if="results.length == 0">
      <strong>Select a project...</strong>
    </li>
  </ul>
</div>
<hr/>
<div>
  <h2>Requirements for Proj#{{sel_projectId}} in Comp#{{sel_componentId}}</h2>
  <ul>
    <li ng-repeat="requirement in requirements">
      [{{requirement.id}}] {{requirement.title}}
    </li>
    <li ng-if="results.length == 0">
      <strong>Select a project...</strong>
    </li>
  </ul>
</div>
