<div id="explore-page" ng-controller="ExploreCtrl" style="overflow: auto; height: 100vh;background-color: #FAFAFA" infinite-scroll="addMoreItems()" infinite-scroll-distance="1">
  <div id="explore-header">
    <h3 id="explore-header-title" class="ellipsis">Requirements Bazaar</h3>
    <oauth
      site={{oauthSite}}
      client-id={{oauthClientId}}
      data-scope={{oauthDataScope}}
      redirect-uri={{oauthRedirectURI}}
      profile-uri={{oauthProfileURI}}
      template= {{oauthTemplateURI}}>
    </oauth>
  </div>
  <div style="max-width: 1080px;padding: 32px 8px 8px 8px;margin: auto;">
    <div class="group" style="margin:auto;padding: 8px 8px 8px 0;">
      <input placeholder={{'SEARCH_PROJECTS'|translate}} type="text" ng-model="filterReq.$">
      <span class="highlight"></span>
      <span class="bar"></span>
    </div>
    <h1>Featured</h1>
    <req-baz-project ng-repeat="project in featured" name={{project.name}} desc={{project.description}} ng-click="selectProject(project)"></req-baz-project>

    <h1>Public projects</h1>
    <req-baz-project ng-repeat="project in projects | filter:filterReq:strict | limitTo : limit track by project.id" name={{project.name}} desc={{project.description}} ng-click="selectProject(project)"></req-baz-project>
  </div>
</div>
