<core-drawer-panel id="drawerPanel" drawerWidth="200px" forceNarrow >

  <!--The side bar of the application / component selection-->
  <core-header-panel drawer>
    <core-toolbar id="navheader'">
      <span>Choose Component</span>
    </core-toolbar>
    <core-menu id="componentSelection">
      <paper-item ng-repeat="component in components" ng-click="selectComponent(component)">{{component.name}}</paper-item>
    </core-menu>
  </core-header-panel>

  <!--The main panel of the application-->
  <core-header-panel main>

    <!--The top navigation bar-->
    <core-toolbar id="mainheader">
      <paper-icon-button id="navicon" icon="menu" onclick="drawerPanel.togglePanel();"></paper-icon-button>
      <paper-dropdown-menu label="{{activeProject.name}}" id="projectSelection" style="color:#000000;">
        <paper-dropdown class="dropdown">
          <core-selector>
            <paper-item ng-repeat="project in projects" value="{{project.name}}" ng-click="selectProject(project)">{{project.name}}</paper-item>
          </core-selector>
        </paper-dropdown>
      </paper-dropdown-menu>


      <span flex>{{activeProject.description}}</span>

      <!--Open Notifications button and div-->
      <paper-icon-button icon="social:notifications-none" ng-click="isNotificationsOpen = !isNotificationsOpen" ></paper-icon-button>
      <div id="NotificationDiv" ng-show="isNotificationsOpen">
        <p>Here will be notifications</p>
      </div>

      <!--Open Profile button and div-->
      <paper-icon-button src="https://dl.dropboxusercontent.com/u/42434834/FakeProfilePic.jpg" ng-click="isProfileOpen = !isProfileOpen"></paper-icon-button>
      <div id="profileDiv" ng-show="isProfileOpen">
        <div id="profileDivContent" style="margin: 12px">
          <p>{{activeUser.firstname}} {{activeUser.lastname}}</p>
          <p style="color: #808080; font-size: small">{{activeUser.email}}</p>
          <p style="color: #808080; font-size: small">Is admin : {{activeUser.admin}}</p>
        </div>
        <div id="profileDivFooter">
          <paper-button ng-click="editProfile()" style="background-color: #4285f4;">Edit</paper-button>
          <paper-button ng-click="signOut()" style="background-color: #4285f4;">Sign Out</paper-button>
        </div>
      </div>
    </core-toolbar>


    <!--Place Requirements Here-->
    <div class="content">
      <div id="currentComponent">
        <h3 ng-bind="activeComponent.name"></h3>
        <p ng-repeat="user in users | filter : {id : activeComponent.leaderId}">Leader : {{user.firstname}} {{user.lastname}}</p>
        <p>{{activeComponent.description}}</p>
      </div>

      <div ng-repeat=" req in requirements">
        <paper-item style="background: white" ng-click="toggle($event)">{{req.name}}</paper-item>
        <core-collapse>
          <div class="collapse-content" style="display: -webkit-box;">
            <div style="width: 100%">
              <p>Description : {{req.description}}</p>
              <p ng-repeat="user in users | filter : {id : req.creatorId}">Leader : {{user.firstname}} {{user.lastname}}</p>
              <!--Is developers the same as contributors-->
              <p><span> Followers : ... Developers : ...</span></p>
              <p>Votes : maybe also a colorful bar</p>
              <paper-item style="background: white" ng-click="toggle($event)">Attachments</paper-item>
              <core-collapse>
                Here be attachments
              </core-collapse>
              <paper-item style="background: white" ng-click="toggle($event)">Comments</paper-item>
              <core-collapse>
                Here be comments
              </core-collapse>
            </div>

            <div style="width: 50px">
              <paper-icon-button icon="icons:more-vert" ng-click="" ></paper-icon-button>
              <div>
                <paper-button>Become Lead</paper-button>
                <paper-button>Edit</paper-button>
                <paper-button>Delete</paper-button>
              </div>
            </div>

          </div>
        </core-collapse>
      </div>

    </div>
  </core-header-panel>
</core-drawer-panel>
