<paper-drawer-panel>
  <div class="drawer-sidebar" drawer>
    <paper-button ng-click="returnToProject()" ng-bind="'EXIT_SETTINGS'|translate"></paper-button>

    <!-- Sidebar navigation -->
    <p class="small-grey-text pm-settings-text" ng-bind="'SETTINGS'|translate"></p>
    <paper-button raised ng-click="activeTab = 'pm-settings'" ng-bind="'GENERAL_SETTINGS'|translate"></paper-button>
    <paper-button disabled ng-click="activeTab = 'users'" ng-bind="'MANAGE_USERS'|translate"></paper-button>
    <paper-button disabled ng-click="activeTab = 'log'" ng-bind="'RECENT_CHANGES'|translate"></paper-button>
    <paper-button disabled ng-bind="'DELETE_PROJECT'|translate"></paper-button>

  </div>
  <div class="drawer-main" main>
    <div class="content">
      <!-- General project settings -->
      <div id="pm-settings" ng-show="activeTab === 'pm-settings'">

        <!-- View mode -->
        <div ng-show="!isDirty">
          <div class="flex-space-between">
            <h2 ng-bind="dirtyProject.name"></h2>
            <paper-button raised ng-click="isDirty = true" ng-bind="'EDIT'|translate"></paper-button>
          </div>

          <h4 ng-bind="'DESCRIPTION'|translate"></h4>
          <pre ng-bind="dirtyProject.description"></pre>

          <h4 ng-bind="'VISIBILITY'|translate"></h4>
          <p ng-bind="dirtyProject.visibility|translate"></p>
        </div>

        <!-- Edit mode -->
        <div id="pm-title-edit" ng-show="isDirty">
          <h4 ng-bind="'TITLE_AND_DESCRIPTION'|translate"></h4>
          <paper-input ng-model="dirtyProject.name" label={{'TITLE'|translate}} maxlength="50" char-counter></paper-input>
          <paper-textarea ng-model="dirtyProject.description" label={{'DESC'|translate}}></paper-textarea>

          <h4 ng-bind="'VISIBILITY'|translate"></h4>
          <paper-radio-group ng-model="dirtyProject.visibility">
            <!-- The binding for translate is not working -->
            <paper-radio-button name="PUBLIC">public</paper-radio-button>
            <paper-radio-button name="PRIVATE">private</paper-radio-button>
          </paper-radio-group>
          <br/>
          <paper-spinner ng-show="pmSavingInprogress" active alt="saving in process"></paper-spinner>
          <paper-button raised ng-click="saveChanges()" ng-disabled="pmSavingInprogress" ng-bind="'SAVE_CHANGES'|translate"></paper-button>
          <paper-button raised ng-click="cancelChanges()" ng-disabled="pmSavingInprogress" ng-bind="'CANCEL'|translate"></paper-button>
        </div>
      </div>


      <!-- User management -->
      <div id="users" ng-show="activeTab === 'users'">

      </div>


      <!-- Log of latest changes -->
      <div id="log" ng-show="activeTab === 'log'">

      </div>


    </div>
  </div>

</paper-drawer-panel>
